/* ********************** */
/****** General ********* */
/* ********************** */

/* Fonts */
* {
    font-family: 'Raleway', sans-serif;
}
.section-title, .activites h2{ 
    font-size: 22px;
}
.section-filtre-titre .pieddepage{
    margin: 0;
    font-size: 18px;
}
.titreFiltre h2, .linkMoreToSeeSpan a, .search-item input, .pieddepage p{
    font-size: 18px;
    font-weight: 700;
    /* line-height: 21.13px; */
}
.section-filtre{
    margin: 0;
    font-size: 17px;
}
.card-title {
    font-size: 16px;
}
.entete a, .informationBar h3, .footer-link, .information, .pieddepage a{
    font-size: 16px;
    font-weight: 400;
}
.search-button, .cardActivites span{
    font-size: 16px;
    font-weight: bold;
}
.euro {
    font-weight: 700;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    height: auto;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
.titleSpan-hebergement{
    margin-left: 10px;
    width: 100%;
}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* *******************************************  */
/* *************** header ********************* */
/* *******************************************  */

.flex-commun{
    display: flex;
    flex-wrap: wrap; /* retour a la ligne pour les petits écrans */
}
.entete{
    /* gestion de l'espace entre image et navigation */
    flex-direction: row; /*en ligne*/
    justify-content: space-between;
    flex : 1;
    height: 79px;
    /* width: 1440px; */
    width: 100%;
    /* box-sizing: border-box;  */
}

.logo{
    width: 161px;
    height: 79px;
    padding: 30px 50px 30px 0px;
    gap : 10px;
}
.logo img{
    width: 61px;
    height: 19px;
}

.nav-entete{
    /* gestion de l'organisation spaciale des 2 boutons de navigation */
    width: 344px;
    height: 35px;
    padding: 0px 50px 0px 50px;
    gap : 68px;
    flex-direction: row;
    justify-content: flex-end;
}
.entete a{
    position:relative;
    bottom: 0px;
}
.page-hebergement{
    color : var(--main-color);
    
    border-top-color : var(--main-color);
    border-top-width: 2px;
    border-top-style: solid;

    border-bottom-color: var(--main-color);
    border-bottom-width: 2px;
    border-bottom-style: none;
}
.page-activite{
    color: #000000;

    border-top-color : var(--main-color);
    border-top-width: 2px;
    border-top-style: none;

    border-bottom-color: var(--main-color);
    border-bottom-width: 2px;
    border-bottom-style: none;
}
.page-activite:hover{
    border-top-style: solid;
    border-top-color: #000000;
}

/* ************************** */
/* SECTION RECHERCHE ET FITRE */
/* ************************** */
.info-groupe{
    height: 281px;
    flex-direction: column;
    gap : 35px;
    /* ajout d'un marge non indiqué dans les spéc figma mais visible sur le schéma */
    margin-bottom: 25px;
}
.headline{
    height: 53px;
    gap: 8px;
}
.section-title{
    margin: 0;
}
.search-bar {
    background-color: white;
    height: 49px;
    width: 377px;
}
.search-bar form{
    /*nécessairement  non wrap*/
    display: flex; 
}

.search-item {
    /*nécessairement  non wrap*/
    display: flex;
    /* couleur de fond de l'icone 'vector' partiellement masqué par l'input */
    background-color: var(--main-bg-color);
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.search-item i {
    margin-right: 5px;
    color : black;
    width: 10%;
    text-align: center;
}

.search-item input {
    background-color: #fff;
    border: none;
    flex: 1;
    /* padding: 5px; */
    width: 50%;
    /* Hauteur de l'input inférieur pour une raison de bordure je suppose */
    height: 45px; 
    text-align: center;
}
.dedionbouton{
    /* Div nécessaire pour ajuster en hauteur et indépendament la taille du bouton rechercher 
    sans lui la taille de l'input varie proportionellement aux modifications apportées*/
    height: 49px;
}

.search-button {
    background-color: var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    width: auto;
    height: 100%;

    color: white;
    text-align: center;

    margin: 0px 0px;
    padding: 0px 25px;
}
.footer-link, .information{
    margin: 0;
}
/* *********************** */
/* ****** FILTRES ******** */
/* *********************** */
.filtreBar{
    height:50px;
    width: 758px;
    gap: 15px;
    justify-content: space-between;
}

.titreFiltre{
    vertical-align: center;
}

.eco, .familial, .romantique, .pepites{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    gap:10px;

    height: Fixed (50px)px;
    padding: 14px 19px 4px 19px;
}
.filtreBar span{
    /* transformation du span en inlineblock pour mettre l'icone et le texte sur la même ligne */
    display: inline-block;
}
.eco:hover, .familial:hover, .romantique:hover, .pepites:hover{
    background-color: var(--main-color);
}

/* barre de commentaire */
.informationBar{
    height: 24px;
    width: 1340px;
    gap: 10px;
}
.informationBar span{
    display: inline-block;
}
.borderSpan{
    /* rond autour du i */
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width:24px;
    height:24px;
    /* déplacer i au milieu du rond */
    text-align: center;
}

/* ****************************************** */
/****** Hebergements And Populaires ***********/
/* ****************************************** */

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    height: 614px;
    width:1340px;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    border : 1px dotted red
}

/* *************************** */
/****** Hebergements ***********/
/* *************************** */
.hebergements {
    width: 65%;
    /* width:871px; */
    gap:40px;
    overflow: hidden; 
}

.hebergements-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
     
}
.hebergements-cards a{
    width:250px;
}
.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}
.hebergements-cards img{
    width: 100%;
    /* width: 250.33px; */
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px 0px 0px 0px;
}

.linkMoreToSeeSpan{
    height: 21px;
    width: 811px;
    padding-left: 10px;
    margin-top: 20px;
}


/* ********************************* */
/****** Populaires + cards ***********/
/* ********************************* */
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    display: flex;
    margin-top: 33px;
}

.populaires-cards img{
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-content{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.populaires-cards .card-content{
    width: 67%;
} 
.hebergements-cards .card-content{
    width: 100%;
}

.card-title{
    margin-top: 10px;
    margin-bottom: 4px;
}
.card-subtitle{
    margin: 0;
}
.card-rating{
    margin-bottom: 5px;
}


/* *********************** */
/* ****** ACTIVITES ****** */
/* *********************** */
.activites{
    width: 1340px;
    height: 559.02px;
    padding: 30px 0px 0px 0px;
    gap: 30px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
}
.choixActivites{
    width: 1280px;
    height: 439px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}
.choixActivites h2{
    padding-left: 10px;
}
.cardActivites{
    width: 297.5px;
    height: 439px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    box-sizing: border-box;
}
.cardActivites a{
    display: flex;
    flex-direction: column;
    /* ne fonctionne pas même en créant un span autour de l'image
    donc margin-top de la moitié de l'espace restant dans span */
    /* justify-content: space-between; */

    /* alignement horizontal */
    align-items: center;
}
.cardActivites span{
    width: 259px;
    display: block;
    margin-top: 20px;
}

.imgActivites{
    width: 297.5px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
}

/* ******************** */
/******* FOOTER *********/
/* ******************** */
.pieddepage{
    width: 1340px;
    height: 163px;
    background-color: #F2F2F2;
    display: flex;
}
.pieddepage nav{
    width: 446.67px;
    height: 163px;
    padding: 12px 0px 0px 0px;
    gap: 15px;
}
.pieddepage li{
    /* equilibre visuel trouvé entre le padding du nav , les intervalles entre les <li> et le bas du div */
    /* on note que le padding d'origine est de 20px trop important par rapport ce que l'on voit en réél */
    margin-bottom : 12px;
}
.pieddepage p{
    margin : 0;
}
.pieddepage ul{
    list-style-type: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) and (min-width: 767.98px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        /* flex-direction: column; */
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}