/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
.fa-light{
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}
.footer-link, .information{
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}
.section-filtre-titre{
    margin: 0;
    font-size: 18px;
}
.section-filtre{
    margin: 0;
    font-size: 17px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* *******************************************  */
/* *************** header ********************* */
/* *******************************************  */

.flex-commun{
    display: flex;
    flex-wrap: wrap; /* retour a la ligne pour les petits écrans */
}
.entete{
    /* gestion de l'espace entre image et navigation */
    flex-direction: row; /*en ligne*/
    justify-content: space-between;
    flex : 1;
    height: 79px;
    width:100%;
    box-sizing: border-box;  
}

.logo{
    width: 161px;
    height: 79px;
    padding: 30px 50px 30px 50px;
    /* gap : 10px; */

}
.logo img{
    width: 61px;
    height: 19px;
}

.nav-entete{
    /* gestion de l'organisation spaciale des 2 boutons de navigation */
    width: 344px;
    height: 35px;
    padding: 0px 50px 0px 50px;
    gap : 68px;
    flex-direction: row;
    justify-content: space-around;
}
.entete a{
    font-size: 16px;
    position:relative;
    bottom: 0px;
}
.page-hebergement{
    color : var(--main-color);
    
    border-top-color : var(--main-color);
    border-top-width: 2px;
    border-top-style: solid;

    border-bottom-color: var(--main-color);
    border-bottom-width: 2px;
    border-bottom-style: none;
}
.page-activite{
    color: #000000;

    border-top-color : var(--main-color);
    border-top-width: 2px;
    border-top-style: none;

    border-bottom-color: var(--main-color);
    border-bottom-width: 2px;
    border-bottom-style: none;
}

/* ************************** */
/* SECTION RECHERCHE ET FITRE */
/* ************************** */
.info-groupe{
    height: 281px;
    flex-direction: column;
    gap : 35px;
}
.headline{
    height: 53px;
    gap: 8px;
}

.search-bar {
    background-color: white;
    height: 49px;
    width: 377px;
}
.search-bar form{
    /*nécessairement  non wrap*/
    display: flex; 
}

.search-item {
    /*nécessairement  non wrap*/
    display: flex;
    /* couleur de fond de l'icone 'vector' partiellement masqué par l'input */
    background-color: var(--main-bg-color);
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.search-item i {
    margin-right: 5px;
    color : black;
    width: 10%;
    text-align: center;
}

.search-item input {
    background-color: #fff;
    border: none;
    flex: 1;
    /* padding: 5px; */
    width: 50%;
    /* Hauteur de l'input inférieur pour une raison de bordure je suppose */
    height: 45px; 
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.dedionbouton{
    /* Div nécessaire pour ajuster en hauteur et indépendament la taille du bouton rechercher 
    sans lui la taille de l'input varie proportionellement aux modifications apportées*/
    height: 49px;
}

.search-button {
    background-color: var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    width: auto;
    height: 100%;

    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 16px;

    margin: 0px 0px;
    padding: 0px 25px;
}

.filtre-bar{
    height: 50px;
    flex-direction: row;
    gap : 15px;
}
.information-bar{
    height: 24px;
    gap: 10px;
}
.information-bar i{
    display: inline-block;
    border : 1px;
    border-color: #000000;
    border-radius: 50px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}







/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) and (min-width: 767.98px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        /* flex-direction: column; */
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}